<!-- this is the correct sheet to edit for the signup form -->

<!-- use this div to style an external wrapper for the signup form -->
<div id="deviseWrapperOutside">
  <div><h2>Sign up for HelpApp</h2></div>
  <!-- use this div as an internal wrapper for elements on signup form -->
  <div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <!-- closing div for form wrapper -->
  </div>
<!-- closing div for signup wrapper -->
</div>
<%= render "devise/shared/links" %>
