<!-- this is the correct sheet to edit for the signup form -->



  <div class="col-8" id="deviseWrapperOutside"><h2 id="FormTitleArea">Sign up for HelpApp</h2>
  <!-- use this div as an internal wrapper for elements on signup form -->

  <div class="col-8" id="deviseWrapperInside">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field" id="emailField">
      <h3 class="form-label"><%= f.label :email %><br /></h3>
      <div class="form-input"><%= f.email_field :email, autofocus: true %></div>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  </div>
  </div>

<%= render "devise/shared/links" %>
