<%= form_for([@project, @task],:remote => true, :html => {:'data-type' => 'json'})do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary %>
  </div>
  <div class="field">
    <%= f.label :time_commitment %><br>
    <%= f.number_field :time_commitment %>
  </div>

  <div class="field">
    <%= f.label :date_needed %><br>
    <%= f.datetime_select :date_needed , :ampm => true, :minute_step => 15%>
  </div>
  <div class="actions" id="submit">
    <%= f.submit %>
  </div>
<% end %>
