<body class="tasks-me-page">

<h1 id='task-header'><strong>My Tasks</strong></h1>
<hr>
<% @tasks.each do |task| %>

<div class="task-div">
  <ul class="task-list">
    <li><strong><%= task.project.name %></strong></li>
    <li>  <p class="task-name <%=task.state == 'completed' ? 'strike' : ""  %>" id='<%= task.id %>'><%= task.name %></p></li>
    <li><button class='complete' data-id='<%= task.id %>' data-projectid='<%= task.project_id %>' >Completed!</button></li>
  </ul>
</div>
<hr class='after-task'>

<% end %>


<div id="bottom-buttons">
<button class="buttons"><%= link_to 'Browse Projects', projects_path %></button>
<button class="buttons"><%= link_to 'Dashboard', dashboard_path %></button>
</div>
</body>
