<p id="notice"><%= notice %></p>

<p>
  <strong>Name of Task:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Time commitment:</strong>
  <%= @task.time_commitment %> hours
</p>
<p>
  <strong>Date needed:</strong>
  <%= @task.date_needed %>
</p>
<p>
  <strong>Project:</strong>
  <%= @task.project.name %>
</p>

<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path %>
