<!-- the notice <p> is not inititially visible -->
<div><p id="notice"><%= notice %></p></div>

<!-- page title header... need to make dynamic or turn this into a header above the nav element -->
<div><h1>Help</h1></div>

<!-- checks to see if the user on the site is a current user -->
<!-- wrapper div for login sign up section -->
<div>
<% if !current_user %>
  <!-- note that styles are coming from the self.scaffolds stylesheed -->
  <div class='log-in-buttons'>

    <h2>New Users!</h2>

    <button> <%= link_to "Sign Up", new_user_registration_path %> </button>
    <br>
    <h2>Existing Users!</h2>
    <button> <%= link_to "Log In", new_user_session_path %> </button>

  <% else %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Summary</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.summary %></td>
          <td><%= project.location %></td>
          <td><%= project.owner_id %></td>
          <td><%= link_to 'Show', project %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<!-- closing div for login/sign up container -->
</div>
  <br>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <%= link_to 'New Project', new_project_path %>

  <% end %>
