<%= notice %>

<div class="project-page">
  <div class="project-and-tasks">
      <div class="project-info">

        <div class="name">
          <h3>Project</h3>
          <div id="project-name"><h5><%= @project.name %></h5></div>
        </div>

        <div class="summary">
          <h3>Project Summary</h3>
          <p id="project-summary"><%= @project.summary %></p>
        </div>

        <div class="location">
          <h3>Location</h3>
          <p id="location"><%= @project.location %></p>
        </div>

      </div>

      <hr>

      <div class="available-tasks">
        <h3>Available Tasks</h3>

          <div class="available-tasks-list">
            <% @open.each do |task| %>
              <ul>
                <li><%= task.name %></li>
                <button class="claim" data-id="<%= task.id %>">Claim Task</button>
                <% if current_user.id == @project.owner_id %>

                  <button class="edit-task" data-id="<%= task.id %>">Edit Task</button>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% if current_user.id == @project.owner_id %>
          <button class='new-task-button'>Add Task</button>

        <% end %>

      </div>

      <div class="space"></div>

      <hr>

      <div class="tasks-in-progress">
        <h3>Claimed Tasks</h3>
          <div class="claimed-tasks-list">
            <% @claimed.each do |task| %>
              <ul>

                <li><%= task.name %></li>

                <% if current_user.id == @project.owner_id %>

                  <button class="edit-task" data-id="<%= task.id %>">Edit Task</button>
                <% end %>
              </ul>

            <% end %>
          </div>
      </div>


      <hr>

      <div class="completed-tasks">
        <h3>Completed Tasks</h3>

          <% @completed.each do |task| %>
            <ul>
              <% if task.state == 'completed'%>
              <li><%= task.name %></li>
              <% end %>
            </ul>
          <% end %>
      </div>

      <div class="space"></div>
    </div>

  <div id="new-task"></div>
  <div id="edit-form"></div>

</div>
