<!-- create box for project and create background color -->
<div>
    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>
</div>

<div>
  <p>
    <strong>Summary:</strong>
    <%= @project.summary %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @project.location %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= @project.owner_id %>
  </p>

  <p>
    <strong>Tasks:</strong>
    <% @project.tasks.each do |task| %>
      <%= task.name %>
    <% end %>
  </p>
<!-- end project wrapper container -->
</div>

<div>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>
