<p id="notice"><%= notice %></p>

<div class="project-info">

  <div class="name">
    <h3 id="project-name"><%= @project.name %></h3>
  </div>

  <div class="summary">
    <p id="project-summary"><%= @project.summary %></p>
  </div>

  <div class="location">
    <p id="location"><%= @project.location %></p>
  </div>

</div>



<div class="available-tasks">
  <h3>Available Tasks</h3>

  <% if @project.tasks.length > 0 %>
    <%= @project.tasks.each do |task| %>
  <ul>
    <li><%= task.name %></li>
    <li><%= task.time_commitment %></li>
  </ul>
    <% end %>
  <% end %>

  <button id='add-task'>Add Task</button>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
