<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Location:</strong>
  <%= @project.location %>
</p>

<p>
  <strong>Tasks:</strong>
  <% @project.tasks.each do |task| %>
    <%= task.name %>
  <% end %>
</p>

<button><%= link_to 'Create New Task', new_project_task_path(@project, @task)%></button>
<br>
<br>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
