<!DOCTYPE html>
<html>
<head>
  <title>HelpApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- container div -->
<div>
  <!-- nav div -->
  <div class = "row">
    <ul id="nav">
      <li><%= link_to "Log In", new_user_session_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
    </ul>
  </div>


 <%= yield %>

<!-- footer div -->
<div class="row">
  <div>About HelpApp</div>
  <div>Contact Us</div>
  <!-- add social icons with share links in get social div -->
  <div>Get Social</div>
</div>
<!-- container div closing tag -->
</div>
</body>
</html>
