<!DOCTYPE html>
<html>
<head>
  <title>CrowdCare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row">

<!-- nav div -->
  <nav class = "nav navbar-inverse" role = "navigation">
    <div class="container-fluid">
      <% if current_user %>
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "New Project", new_project_path %></li>
          <li><%= link_to "My Projects", projects_me_path %></li>
          <li><%= link_to "My Tasks", tasks_me_path %></li>
          <li><%= link_to "Browse", projects_path %></li>
        </ul>

      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
      <!-- note that styles are coming from the self.scaffolds stylesheed -->
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% else %>

            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          </div>
          <% end %>

        </ul>
      </div>
    </nav>


 <%= yield %>

<!-- footer div -->
</div>
</body>
</html>
