<!DOCTYPE html>
<html>
<head>
  <title>HelpApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row">

<!-- nav div -->
  <nav class = "nav navbar-inverse" role = "navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "New Project", new_project_path %></li>
        <li><%= link_to "My Projects", projects_me_path %></li>
        <li><%= link_to "My Tasks", tasks_me_path %></li>
        <li><%= link_to "Browse", projects_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
      <!-- note that styles are coming from the self.scaffolds stylesheed -->
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% else %>

            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </nav>


 <%= yield %>

<!-- footer div -->
<div class="row">
  <ul  id="footer">
    <li>About Crowd Care</li>
    <li>Contact Us</li>
    <li>Get Social</li>
  </ul>
</div>
</div>
</body>
</html>
